<!DOCTYPE html>
<html lang=it>

  {% include head.html %}

  <body>

    <div class="container">
    {% include header.html %}
   <div class="intro post-content">

      <h1 id="cosa-ti-offriamo">IL TUO VIAGGIO IN AUSTRALIA E NUOVA ZELANDA</h1>

      <p>
        <h2>Cosa ti offriamo</h2>
     Progetto Australia ti aiuterà a organizzare il <strong>tuo viaggio su misura</strong>, grazie all’esperienza e alle conoscenze di chi in Australia ci vive, ma è <strong>italiano come te</strong>.
     Creeremo insieme <strong>il tuo viaggio in Australia e Nuova Zelanda</strong> che sia una vacanza romantica, il tuo <a href="/viaggi-a-tua-misura/#viaggio-di-nozze">viaggio di nozze</a>, <a href="/viaggi-a-tua-misura/#viaggio-di-lusso">viaggio di lusso</a> o <a href="/viaggi-a-tua-misura/#zaino-in-spalla">zaino in spalla</a>.
       </p>
       <p>
          <h2>Come te lo offriamo</h2>
        Il nostro obiettivo è costruire la vacanza dei tuoi sogni con te, in base alle tue esigenze e al tuo budget, offrendoti <strong>assistenza 24 ore su 24</strong>, <strong>in tempo reale e in lingua italiana</strong> durante tutta la tua permanenza. 
        Il nostro team ha l’esperienza e le capacità di chi ha viaggiato personalmente in questi luoghi magnifici, ti mostreremo il meglio che <strong>un viaggio in Australia e Nuova Zelanda</strong> possa offrire, allungando il passo fino alla <strong>Nuova Caledonia e alle isole del Pacifico</strong>.
        Il tutto con un <strong>ottimo rapporto qualità-prezzo</strong>, grazie all’acquisto di pacchetti viaggio con tour operator locali.
      </p>

    </div>
    <div class="page-content row">
    	<div class=" col-sm-8">
   			{{ content }}
		</div>
		<aside class="col-sm-4">
		    {% include side.html %}
		</aside>
    </div>


   {% include footer.html %}
</div>
  </body>
</html>