---
layout: default
---
<div class="post">

  <header class="post-header">
    <a name="page-header"></a>
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>
{% if site.related_posts >  1 %}
<div id="related-posts">
	<h3>Altri post che potrebbero interessarti</h3>
	<ul>
	{% for rel in site.related_posts%}
	<li><a href="{{rel.url|prepend site.baseurl }}">{{rel.title}}</a></li>

	{% endfor%}
	</ul>

</div>
{% endif%}

</div>